<div class="container">
  <h5>注文情報確認</h5>
  <div class="row">
    <table class="products_confirm table table-striped table-hover mx-auto col-6">
      <thead>
        <tr>
          <td>商品名</td>
          <td>単価(税込)</td>
          <td>数量</td>
          <td>小計</td>
        </tr>
      </thead>
      <tboady>
        <!--カート内容-->
      </tboady>
    </table>

    <table class="payment table mx-auto col-2">
      <tr><th>送料</th><td></td></tr>
      <tr><th>商品合計</th><td></td></tr>
      <tr><th>請求金額</th><td></td></tr>
    </table>
  </div>
  <div clas="row">
    <h5>支払方法</h5>
    <h5>お届け先</h5>

  </div>