<h2>注文履歴詳細</h2>

<div class="row">
  <div>
    <h3>注文情報</h3>
      <table>
        <tr>
          <th>注文日</th>
          <td>年/月/日記載予定</td>
        </tr>
        <tr>
          <th>配送先</th>
          <td>郵便番号記載予定</br>住所記載予定</br>名前(姓)名前(名)記載予定</td>
        </tr>
        <tr>
          <th>支払方法</th>
          <td>方法記載予定</td>
        </tr>
        <tr>
          <th>ステータス</th>
          <td>フロー記載予定</td>
        </tr>
      </table>
  </div>

  <div>
    <h3>請求情報</h3>
      <table>
        <tr>
          <th>商品合計</th>
          <td>金額記載予定</td>
        </tr>
        <tr>
          <th>配送料</th>
          <td>金額記載予定</td>
        </tr>
        <tr>
          <th>ご請求額</th>
          <td>金額記載予定</td>
        </tr>
      </table>
  </div>
</div>

<div>
  <h3>注文内容</h3>
    <table>
      <thead>
        <tr>
          <th>商品</th>
          <th>単価(税込)</th>
          <th>個数</th>
          <th>小計</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>商品名記載予定</td>
          <td>金額記載予定</td>
          <td>個数記載予定</td>
          <td>金額記載予定</td>
        </tr>
      </tbody>
    </table>
</div>