// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pagination {
  justify-content: center;
}

.product-index-img {
  background-color: rgba(188,221,255,0.5);
}

.product-index {
  min-height: 600px;
}

.product-index-title {
  color: rgba(188,221,255,0.9);
  border: 5px solid rgba(188,221,255,0.7);
  border-radius: 50px;
}

.product-show {
  background-color: rgba(188,221,255,0.5);
}
