<h2>商品詳細</h2>

<p>画像</p>

<table>
  <tr>
    <td>商品名</td>
    <td>商品名記載予定</td>
  </tr>
  <tr>
    <td>商品説明</td>
    <td商品名説明予定></td>
  </tr>
  <tr>
    <td>ジャンル</td>
    <td>ジャンル記載予定</td>
  </tr>
  <tr>
    <td>税込価格(税抜価格)</td>
    <td>税込価格(税抜価格)記載予定</td>
  </tr>
  <tr>
    <td>販売ステータス</td>
    <td>販売ステータス記載予定</td>
  </tr>
</table>

<div>
  <%= link_to "編集する",edit_admins_product_path %>
</div>

